@media screen and (max-width:768px) {
    .container {
        width: 90%;
    }

    .item {
        width: 100%;
    }

    .top_info_bar .container>div {
        margin: auto;
    }

    .top_info_bar>div div:last-child {
        display: none;
    }

    nav {
        ul {
            transform: translateY(100%);
            opacity: 0;
            visibility: hidden;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 5;
            width: 100%;
            height: 100%;
            flex-direction: column;
            background: $primary_color;
            transition: all .4s ease;
            justify-content: center;

            // Mobile view menu

            &.open {
                transform: translateY(0);
                visibility: visible;
                opacity: 1;
                display: block !important;
                animation: mobileMenuAnimation 0.5s 1;
                overflow-y: scroll;
                overflow-x: hidden;

                >li:first-child {
                    margin-top: 5rem;
                }

                li {
                    padding-left: 2rem;
                    font-size: 1.2rem;
                    display: block;
                    border-bottom: 1px solid rgba($light_color, .2);
                    width: 100%;

                    a {
                        padding: 10px 0px !important;


                        &:hover {
                            background: none !important;
                            color: $accent_color !important;
                            margin: 0 !important;
                            border: none !important;
                        }
                    }

                    // Drop down content ul
                    &.dropdown {
                        ul {
                            display: block;
                            visibility: visible;
                            opacity: 1;
                            border: none;
                            background: inherit;
                            box-shadow: none;
                            position: unset;

                            &::before {
                                display: none;
                            }

                            a {
                                color: $light_color;
                                border: none;
                                font-weight: 300;
                            }

                            li {
                                background: none;
                                border: none;
                            }
                        }
                    }
                }
            }
        }

        @keyframes mobileMenuAnimation {
            0% {
                transform: translateY(100%);
                opacity: 0;
            }

            50% {
                transform: translateY(30%);
                opacity: 0;
            }

            75% {
                opacity: 0.5;
            }

            100% {
                transform: translateY(0);
                opacity: 1;
            }
        }



        div.hamburger {
            display: flex;

            &.open {
                position: fixed;


            }

            &.open>span {
                transform: rotate(135deg);

                &:before,
                &:after {
                    top: 0;
                    transform: rotate(95deg);
                }
            }
        }
    }


    section.banner {

        .content {
            width: 100% !important;

            h2 {
                width: 100% !important;
                font-size: 2rem !important;
                line-height: 2.75rem !important;
            }

            p {
                font-size: 1rem !important;
            }
        }

        img {
            height: 100%;
        }

        .glide__arrows {
            display: none;
        }

    }

    .news_content {
        flex-direction: column;
        align-items: center;

        .item {
            margin: 10px 0px;
        }
    }

    .gallery {
        .container {
            display: flex;
            flex-direction: column;
            text-align: center;
        }

        .gallery_content {
            display: flex;
            flex-direction: column;
            align-content: center;
            height: auto;

            .gallery_item {
                width: 100%;

                h5 {
                    left: 28%;
                }
            }
        }
    }

    .testimonial {
        .glide {
            .glide__arrow--left {
                // left: -1rem;
                display: none;
            }

            .glide__arrow--right {
                // right: -1rem;
                display: none;
            }
        }

        p {
            font-size: .85rem;
            line-height: 1.5rem;
        }
    }

    .cta {
        .container {
            flex-direction: column;

            img {
                width: 90%;
                height: 90%;
                margin: auto;
            }

            .cta_content {

                h3 {
                    margin-top: 20px;
                }

                p {
                    margin-bottom: 20px;
                }
            }
        }
    }

    .team {
        .team_members {
            // flex-direction: column;
            align-items: center;

            .glide__slide {
                height: 350px;
            }

            img {
                object-fit: contain;
                width: 100%;
                height: 100%;
            }

            li {
                width: 100%;
            }
        }
    }

    footer {
        flex-direction: column;

        .footer_info {
            width: 100%;
            padding: 2rem 0rem;
        }

        .footer_map {
            width: 100%;
        }

        .footer_propectus {
            width: 100%;
        }
    }

    // Hero
    .hero {
        height: 300px;

        h1 {
            font-size: 1rem;
            width: 85%;
        }
    }

    // About page
    .page_content .container{
        flex-direction: column;
        .page_content_paragraph{
            width: 100%;
            padding: 0;
        }
        .page_content_sidebar{
            width: 100%;
            .sidebar_gallery{
                li img{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
        }
    }

}

@media screen and (min-width:769px) and (max-width:1050px) {
    .container {
        width: 90%;
    }

    .container-tablet {
        width: 100%;
    }

    .item {
        width: 250px;
    }

    .news {
        .news_content {
            justify-content: space-around;
        }
    }

    .gallery {
        .gallery_content {
            height: auto;
            justify-content: space-around;
        }
    }

    .testimonial {
        .glide {
            .glide__arrow--left {
                // left: -1rem;
                display: none;
            }

            .glide__arrow--right {
                // right: -1rem;
                display: none;
            }
        }
    }
}