// $primary_color:#323D51;
// $secondary_color:#CBCFD8;
// $accent_color:#D3AC2B;
// $light_color:#F3F3E9;

$primary_color:#0E5128;
$secondary_color:#CBCFD8;
$accent_color:#F3E203;
$light_color:#F3F3E9;


$container_width:1000px;

$normal_font: 'Roboto',
sans-serif;
$headline_font: 'Roboto Slab',
serif;